* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  margin: 1rem;
  background-color: rgba(35, 73, 38, 1);
}

main {
  display: flex;
  flex-direction: row;
  background-image: url(./background.png);
  background-position: center;
  background-size: 200%;
  min-height: 88vh;
  overflow: auto;
}

h1 {
  color: rgba(35, 73, 38, 1);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #59c262;
  color: rgba(35, 73, 38, 0.46);
  font-size: 1.5rem;
  letter-spacing: 2px;
  padding-left: 2.5rem;
}

#title-icon {
  display: flex;
  flex-direction: row-reverse;
}

#calc {
  height: 2.2rem;
  opacity: 80%;
  margin-top: 18px;
  margin-right: 1rem;
}

#total-monthly-cost {
  display: flex;
  flex-direction: column-reverse;
  padding-right: 2.5rem;
  font-size: 0.8rem;
  letter-spacing: 0px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(187, 247, 192, 0.2);
  backdrop-filter: blur(5px);
  border: solid 2px transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  min-width: 300px;
}

input,
#submit-button {
  height: 2rem;
  width: 200px;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  margin: 2px;
}

.employee-table-container {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  margin-left: 2.5rem;
}

::placeholder {
  color: rgba(0, 0, 0, 0.185);
  text-align: center;
}

#submit-button {
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-top: 20px;
  color: rgba(35, 73, 38, 1);
}

.employee-table-container {
  flex-grow: 2;
}

#delete-text {
  visibility: hidden;
}

#too-much {
  background-color: tomato;
  color: white;
  border: solid transparent;
  padding: 5px;
  border-radius: 8px;
}

table {
  margin-right: 2.5rem;
}

table,
td {
  height: 2rem;
  background-color: rgba(187, 247, 192, 0.2);
  backdrop-filter: blur(5px);
  border: solid 2px transparent;
  background-clip: padding-box;
  color: rgba(35, 73, 38, 1);
  text-align: center;
}

thead {
  background-color: rgba(187, 247, 192, 0.2);
  backdrop-filter: blur(5px);
  border: solid 2px transparent;
  background-clip: padding-box;
  height: 2rem;
  font-size: 1.5rem;
  color: rgba(35, 73, 38, 1);
}

tr:nth-child(even) {
  background-color: rgba(187, 247, 192, 0.2);
}

.delete-button {
  border-radius: 8px;
  font-size: 0.8rem;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100px;
}

#error-box {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.error-message {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 5px;
  color: rgba(35, 73, 38, 1);
}

.tri {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid rgba(255, 255, 255, 0.5);
  z-index: 2;
}
